{{#*inline "page"}}

<div class="content-wrapper">
  <h1 class="h-sub">Questions</h1>

  <button style="display:inline;margin:0.4rem;" onclick="checkAll('1');">Agree All</button>
  <button style="display:inline;margin:0.4rem;" onclick="checkAll('2');">Disagree All</button>
  <button style="display:inline;margin:0.4rem;" onclick="checkAll('3');">Don't Know All</button>
  <button style="display:inline;margin:0.4rem;" onclick="checkAll('4');">Don't Care All</button>

  <form action="/quiz/questions" method="POST">
    <input
      type="hidden"
      name="session"
      value=" {{~ session_id ~}}">
{{#each questions as |q|}}
    <div class="qu pa-t">
      <div class="qu-t pa-t">
        {{ number }}) {{ text }}
      </div>
      <div class="pa-t">
  {{#each @root.answers as |a|}}
        <div class="qu-a">
          <input
            required
            type="radio"
            id="q_{{ q.id }}_a_{{ a.id }}"
            value="{{ a.id }}"
            name="q_{{ q.id }}">
          <label for="q_{{ q.id }}_a_{{ a.id }}">{{ a.text }}</label>
        </div>
  {{/each}}
      </div>
    </div>
{{/each}}
  <button class="qu-b" type="submit">
    Submit
  </button>
  </form>
</div>

{{/inline}}
{{~> (parent)~}}
