{{#*inline "page"}}

<div class="content-wrapper">
  <h1 class="h-sub">Questions</h1>
  <form action="/quiz/questions" method="POST">
{{#each questions}}
    <div class="qu pa-t">
      <div class="qu-t pa-t">
        {{ number }}) {{ text }}
      </div>
      <div class="pa-t">
  {{#each answers}}
        <div class="qu-a">
          <input
            required
            type="radio"
            id="a_{{ id }}"
            value="{{ id }}"
            name="q_{{ ../id }}">
          <label for="a_{{ id }}">{{ text }}</label>
        </div>
  {{/each}}
      </div>
    </div>
{{/each}}
  <button class="qu-b" type="submit">
    Submit
  </button>
  </form>
</div>

{{/inline}}
{{~> (parent)~}}
